<div class="container">
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<h1>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h1>
			</section>
		</aside>
	<div class="row">
		<div class="col-md-12">
			<% if @past_searches %>
			<% @past_searches.each do |search| %>
			<%= image_tag(search.image.gsub!("ms.jpg","l.jpg"), :size => "200x200") %>
				<%= image_tag(search.rating ) %>
				<%= search.address %>
				<% end %>
			<% end %>
		</div>
</div>
	</div>

</div>


