<%= include_gon %>

<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>">
	<%= value %>
</div>
<% end %>

<% if !@ride %>
<div class="container outer">
	<div class="row middle">
	<div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2 inner">
        <%= bootstrap_form_tag action: location_path, method: "get" do |f| %>
            <div id="custom-search-input">
                <div class="input-group animated fadeInUp ">
                <div class="col-md-5">

           <%= f.text_field(:address, label: 'Current Location', class: 'form-control input-lg', :id => 'searchTextField') %>
                    </div>
                    <div class="col-md-5">
                    <%= f.text_field(:destination, label: 'Destination', class: 'form-control input-lg', :id => 'searchTextField2') %>
                    </div>
                    <div class="col-md-1">
                    <div class="row">
                    	
                    </div>
                    <span class="input-group-btn">
                    <%= f.submit('Search', class: 'btn btn-info btn-lg  search-button') %>
                    </span>
                    </div>
               
                </div>
				<% end %>		
            </div>
        </div>
	</div>
</div>
<% end %>
<% if @ride %>
<div class="container">
	<div class="row" style="margin: 0 auto;">
		<div class="animated fadeInUp col-md-4 uber">
			<%= image_tag("uberX.jpg", :size => "284x200")%>
			<div class="well text-center">
			 <%= @ride.display_name %> <%="-" %>
				<%= "Closest Driver: " %><%= Time.at(@closest_driver.to_i).utc.strftime("%H:%M:%S")  %> 
			</div>
		</div>
		<div class="animated fadeInUp col-md-4 uber">
			<%= image_tag("dollar.png", :size => "284x200")%>
			<div class="well text-center">
				<%= "Price Estimate:" %><%= @ride.estimate %> 
			</div>
		</div>
		<div class="animated fadeInUp col-md-4 uber">
			<%= image_tag(@image.gsub!("ms.jpg","l.jpg"), :size => "284x200") %>
			<div class="well text-center">
				<%= image_tag(@rating ) %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="text-center">
			<div class="learn-btn-2 animated fadeInUp">
			<h3>Total Ride and Dine: $<%= @ride_dine + 25 %> * </h3>
			<h5>*Based on average meal price.</h5>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="text-center">
			<%= link_to "Recent Ride n Dines", current_user, class: 'learn-btn-2 animated fadeInUp' %>
			<%= link_to "Search Again", rides_path, class: 'learn-btn-2 animated fadeInUp' %>
		</div>
	</div>
</div>

<% end %>





