<h1>HOME</h1>
<div class="row">
</div>
<div class="row">
	<div class="center jumbotron">
	<div class="text-center">
		<h1>Ride n Dine</h1>
		<% if logged_in? %>
		<%= link_to "Profile", current_user, class: "btn btn-lg btn-primary" %>
		<% else %>
 		<%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary" %>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		Log in
		</button>
		<% end %>
		</div>
	</div>

</div>
<div class="row">
	<div class="image">
		
	</div>
</div>
<br>
<%= include_gon %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if !logged_in? %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<h1>Log in</h1>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= form_for(:session, url: login_path) do |f| %>

					<%= f.label :email %>
					<%= f.email_field :email, class: 'form-control' %>

					<%= f.label :password %>
					<%= f.password_field :password, class: 'form-control' %>

					<%= f.submit "Log in", class: "btn btn-primary" %>
					<% end %>

					<p>New user? <%= link_to "Sign up now!", signup_path %></p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>
		</div>
	</div>
</div>
</div>
<% end %>
<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>
<%= include_gon %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


