<%= include_gon %>
<div class="row">
	<div class="headerWrap jumbotron ">
		<div class="text-center">
			<h1 class="animated fadeInDown main-text">The cheapest ride, to your favorite restaurants</h1>
			<% if logged_in? %>
			<%= link_to "Profile", current_user, class: "btn btn-lg btn-primary" %>
			<%= link_to "Log out", logout_path, method: "delete", class: "btn btn-lg btn-primary" %>
			<%= link_to "Sign up", new_user_path, class: "btn btn-lg btn-primary scroll" %>
			<button type="button" class="btn btn-lg btn-primary scroll"> <%= link_to "Log out", logout_path, method: "delete" %> </button> 
			<% else %>

			<div class="learn-btn animated fadeInUp first-button">Learn more <i class="fa fa-arrow-down"></i></div>
			<%= link_to "Log in", login_path, class: 'learn-btn animated fadeInUp' %>
			<% end %>
		</div>
	</div>
</div>
	<section class="features-intro">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
							<div class="features-img wp1">
								<img src="img/html5-logo.png" alt="HTML5 Logo">
							</div>
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">

						</div>
					</div>
				</div>
			</div>
		</section>
<section class="video-2" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1><%= link_to "Try it", new_user_path, class: 'learn-btn animated fadeInUp' %>
					</h1>
					</div>
				</div>
			</div>
		</section>
